
.superbox {
  @include make-container();
  @extend .bg-light;
  @extend .text-dark;
  @extend .rounded-corners-bottom;
  @extend .p-3 ;
  @extend .rounded;
}

.snippetlist {
  @extend .list-unstyled;

  li {
    padding: 0.25em 0;
    
    .font-weight-heavy {
      font-weight: 600;
    }

    img { 
      max-height: 24px;
      max-width: 24px;
    }
  }
}

footer {
  @include make-container();
  @extend .fs-6;
  @extend .lh-1;
  @extend .text-muted;
  @extend .text-center;

  text-align: center;
}
