{% extends "layout.html.tera" %}
{% import "macros.html.tera" as macros %}
{% block content %}
  {% if snippet.hidden and not is_admin %}
    <p>Snippet is hidden... <a href="/">Homepage</a></p>
  {% else %}
    <ul class="snippetlist">
      {{ macros::show_snippet(snippet=snippet, showcontrols=is_admin) }}
    </ul>
  {% endif %}
{% endblock %}
